body {
	background-color: #363738;
	background-image: url("sa_background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.center-container {
	padding-top: 2vh;
}

.horses {
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	padding-left: 10vw;
	text-align: center;
	padding-bottom: 1vh;
}

.explanation {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 2vh;
}
